@font-face {
    font-family: "Satoshi";
    src: url("./Font/Satoshi-Regular.otf");
}
@font-face {
    font-family: "Satoshi-medium";
    src: url("./Font/Satoshi-Medium.otf");
}
@font-face {
    font-family: "Satoshi-bold";
    src: url("./Font/Satoshi-Bold.otf");
}
@font-face {
    font-family: "Satoshi-black";
    src: url("./Font/Satoshi-Black.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi";
    letter-spacing: 1px;
}
body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.5rem;
}
.header-sec{
    width: 100%;
}
.header{
    width: 100%;
    height: auto;
    padding: 2rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #79747E;
}
.header h1{
    width: fit-content;
    height: auto;
    color: #65558F;
    font-family: "Satoshi-bold";
}
.header .link{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
}
.header .link a{
    text-decoration: none;
    font-family: "Satoshi-medium";
    font-size: 1rem;
    color: #000;
}
.header .link a:hover{
    color: #65558F;
}
.header .link #home{
    color: #65558F;
    border-bottom: 1px solid #65558F;
}
.header .link i{
    color: #65558F;
}
.header .link .log-in{
    width: fit-content;
    height: auto;
    padding: 0.5rem 0.875rem;
    background-color: #65558F;
    color: #fff;
    border-radius: 0.35rem;
}
.header .link .sign-up{
    width: fit-content;
    height: auto;
    padding: 0.5rem 0.875rem;
    background-color: #65558F;
    color: #fff;
    border-radius: 0.35rem;
}

.hero-sec{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}
.hero{
    width: 100%;
    height: auto;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    justify-content: center;
}
.hero-side{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 5rem;
}
.text{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}
.text p{
    font-family: "Satoshi-medium";
}
.text h1{
    font-family: "Satoshi-black";
    font-size: 3rem;
}
.text h1 span{
    font-family: "Satoshi-black";
    color: #E59330;
    font-size: 3rem;
    border-bottom: 2px solid #E59330;
}
.hero-side button{
    width: fit-content;
    height: auto;
    padding: 1rem;
    border: 1.5px solid #CAC4D0;
    background-color: #fff;
    color: #65558F;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}
.hero-side button:hover{
    color: #fff;
    background-color: #65558F;
    border: 1.5px solid #65558F;
}
.hero-side2{
    width: 50%;
    height: auto;
    background-color: #EADDFF;
    border-radius: 10rem 3rem 10rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-side2 img{
    width: 35rem;
    height: auto;
}

